div.check-list-item {
    width: 100%;
    text-align: center;
}

div.check-list-item  table {
    width: 100%;
}

div.check-list-item  table td {
    padding: 30px;
}

div.check-list-item  table .td-checkbox input {
   height: 100%;
   border: 10px solid black;
}

.td-desc {
    text-align: left;
}

.td-remove button{
    color: red;
    padding: 10px;
    border-radius: 3px;
}