tr td{
    padding: 20px 0;
    border-bottom: 1px solid lightgrey;
}

.td-remove {
    text-align: center;
}

.td-remove button {
    color: #fff;
    background: #e65855;
    border-color: red;
    padding: 10px;
    border-radius: 10px;
}